#carousel-picture-1 {
    position: relative;
}

#carousel-btn-1 {
    position: absolute;
    bottom:10%;
    background: black;
    width: 40%;
    left: 50%;
    color: aliceblue;
}

.test-border {
    border: 2px solid black
}

/* progress bar */
@media screen and (max-width:576px) {
    .carouselButton {
        display: none;
    }

    .carouselHeadLine {
        font-size: 3px;
    }

    .carouselDes {
        font-size: 3px;
    }
}